body {
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.15em;
	background-image: url("/img/brickwall.png");
	background-repeat: repeat;
}

h1 {
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	letter-spacing: 0.2em;
	font-size: 4em;
	margin-top: 20px;
	margin-bottom: 0;
}

h2 {
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	letter-spacing: 0.2em;
	color: #fa5021;
	margin: 0;
}

h3 {
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	width: 100%;
}

.container {
	width: 600px;
	margin: 0 auto;
}

