---
title: The Gifanator
---

<!-- Add your site or application content here -->
<div class="container">
	<h1>The Gifanator</h1>
	<h2>Saving the world, one gif at a time!</h2>
	<img class="animated fadeInRightBig" src="img/gifanator_logo.gif" alt="The Gifanator" />
	<hr>
	<h3>To start, send a text message to this number</h3>
	<a href="tel:8582249485"><div id="phone_number"><h4>858-224-9485</h4></div></a>
	<hr id="bottom">
	<p class="headings">Commands:</p>
	<ul>
		<li>To get a gif with a specific search term, just text that word</li>
		<li>To get a random gif, text <span class="keyword">random</span></li>
		<li>To send a gif to a friend, text the specific search term plus your friend's <span class="keyword">10-digit number</span></li>
		<li>To send a random gif to a friend, text <span class="keyword">random</span> plus your friend's <span class="keyword">10-digit number</span></li>
	</ul>
	<section>
		<p class="funwords">FUN WORDS TO TRY</p>
		<hr id="divider">
			<div id="negative">
				<p class="subheadings">Negative emotions:</p>
					<ul>
						<li>no</li>
						<li>facepalm</li>
						<li>fail</li>
						<li>deal with it</li>
						<li>frustrated</li>
						<li>confused</li>
						<li>unimpressed</li>
						<li>shocked</li>
						<li>surprised patrick</li>
						<li>eye roll</li>
						<li>yawn</li>
						<li>bitch please </li>
						<li>come at me bro</li>
						<li>haters gonna hate</li>
						<li>sorry</li>
						<li>feels</li>
					</ul>
			</div>
			<div id="positive">
				<p class="subheadings">Positive emotions:</p>
					<ul>
						<li>yes</li>
						<li>thank you</li>
						<li>hug</li>
						<li>thumbs up</li>
						<li>win</li>
						<li>wink</li>
						<li>laughing</li>
						<li>smile</li>
						<li>hello</li>
						<li>excited</li>
						<li>applause</li>
						<li>high five</li>
						<li>love</li>
						<li>like a boss</li>
						<li>bitch im fabulous</li>
						<li>finger guns </li>
						<li>dance</li>
						<li>gangnam style</li>
						<li>swag</li>
						<li>fangirling</li>
						<li>keep calm and</li>
						<li>family guy</li>
					</ul>
			</div>
	</section>
</div>